{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <style>
            
            ul {
              list-style-type: none;
              margin: 0;
              padding: 14px 16px;
              background-color: rgb(245, 215, 149);
              
            }
            
            li {
              display: inline;
            }

            li a{
                text-decoration: none;
            }

            </style>
        <ul class="navbar-nav">
          <li class="nav-item">
            <span class="navbar-brand" href="#">{{nama}}</span>
            <button class="nav-link"><a href="{% url 'wishlist:logout' %}">logout</a></button>
          </li>
        </ul>
    </div>
</nav>

<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
{% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock %}